@font-face {
	font-family: 'Raleway-Regular';
	src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
	font-family: 'Raleway-SemiBold';
	src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
	font-family: 'Raleway-Bold';
	src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
	font-family: 'Raleway-Medium';
	src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
	font-family: 'SpaceGrotesk-Regular';
	src: url(../fonts/Space_Grotesk/SpaceGrotesk-Regular.ttf);
}
@font-face {
	font-family: 'SpaceGrotesk-Medium';
	src: url(../fonts/Space_Grotesk/SpaceGrotesk-Medium.ttf);
}
@font-face {
	font-family: 'SpaceGrotesk-SemiBold';
	src: url(../fonts/Space_Grotesk/SpaceGrotesk-SemiBold.ttf);
}
@font-face {
	font-family: 'SpaceGrotesk-Bold';
	src: url(../fonts/Space_Grotesk/SpaceGrotesk-Bold.ttf);
}
